.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  z-index: 1;
  height: 100vh;
}

.title {
  font-weight: 200;
  color: var(--color-text);
  justify-content: center;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  font-size: var(--font-3xl);
  font-weight: 200;
  color: var(--color-primary);
  transition: transform 0.4s ease;
}

.letter:hover {
  transform: translateY(-3px);
}

.description {
  font-size: var(--font-xl);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.5s ease, color 0.3s ease;
  cursor: pointer;
  margin-top: 2rem;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

@media screen and (max-width: 650px) {
  .nameContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .title {
    font-size: var(--font-2xl);
  }

  .letter {
    font-size: var(--font-2xl);
  }

  .description {
    font-size: var(--font-md);
  }
}
