.navbar {
  position: fixed;
  top: 0;
  padding: 3% 5%;
  transition: transform 0.3s ease-in-out;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  width: 30px;
  height: 30px;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
}

.menuItems {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menuItems a {
  font-size: var(--size-xs);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  color: var(--color-text);
  letter-spacing: var(--tracking-wide);
  text-transform: uppercase;
  text-decoration: none;
}

.menuItems a:hover {
  color: var(--color-text);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    align-self: flex-start;
    margin-left: 0px;
    font-size: var(--size-body);
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    font-size: var(--size-body);
    color: var(--color-text);
    font-weight: var(--weight-light);
    text-decoration: none;
    border: none;
    background: transparent;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: left;
    gap: 7px;
    border-radius: 5px;
    background: var(--color-bg);
    padding: 10px 15px;
  }

  .menuOpen {
    display: flex;
    z-index: 3;
  }
}
