.swingAnchor {
  position: fixed;
  top: -50px;
  right: 5%;
  z-index: 3001;
}

.swingPivot {
  transform-origin: 50% 0%;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.swingAnchor { cursor: pointer; }