@import "../vars.css";

.container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    height: 100vh; /* Full viewport height */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    width: 100%;
}

.title {
    font-size: 72px;
    margin-bottom: 34px;
    font-weight: 900;
    color: var(--color-secondary);
    font-family: var(--font-roboto);
    letter-spacing: 4px;
    z-index: 2;
    
    position: relative;
    transform: none; /* Remove any manual transforms if locomotive-scroll is handling it */

}

.description {
    font-size: 20px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;
    text-align:left;
    line-height: 1.5;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 0.5);
    z-index: 1;
    align-self: center;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0%  {
        transform: translate(0, 0px)
    }

    50% {
        transform: translate(0px, 10px)
    }
    100% {
        transform: translate(0px, -0px)
    }
}

.imgHolder {
    display: flex;
    z-index: 1000;
    padding: 20px;
}

.imgHolder img {
    width: 340px;
    height: 350px;
    border-radius: 20px;
    

}

.topBlur {
    width: -10vw;
    height: -10vw;
    min-width: 250px;
    min-height: 250px;
    top: -5vw;
    left: -8vw;
    border: 764px;
    background: rgba(166, 91, 111, 0.7);
    position: absolute;
    filter: blur(150px);
    z-index: 0;
}

.bottomBlur {
    width: 30vw;
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    top: 25vw;
    left: 60vw;
    border: 764px;
    background: rgba(166, 91, 111, 0.7);
    position: absolute;
    filter: blur(150px);
    z-index: 0;
}




