@import "../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    margin: 0 10%;

    position: sticky; /* Makes the navbar sticky */
    top: 0; /* Sticks the navbar to the top of the viewport */
    z-index: 1000; 
    transition: transform 0.3s ease-in-out;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text)
}

.menu {
    display: flex;

}

.menuBtn {
    display: none
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-secondary);
        background: linear-gradient(0deg, rgba(99, 2, 13, 0.2) 0%, rgb(125, 11, 42) 100%);
        padding: 24px 30px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    }

    .menuOpen {
        display: flex;
        z-index: 3;
    }
}