:root {
  /* Base Colors */
  --color-bg: #e6e6e6;
  --color-text: #0b0b0f;

  /* Accent Colors */
  --color-primary: #5B1166;
  --color-secondary: #341539;
  --color-glow:#83358F;
  --color-fade:#CE53E0; 
  --color-glow-rgb: 131, 53, 143;

  /* Fonts */
  --font-heading: "Instrument Serif", serif;
  --font-body: "Inter", sans-serif;

  /* Font sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.5rem;
  --font-2xl: 2.25rem;
  --font-3xl: 3rem;
  --font-4xl: 4rem;

  /* Font weights */
  --font-regular: 300;
  --font-medium: 500;

  /* Body font spacing */
  --font-spacing: 0.05em;
}
